html, body {

}

body{
  
}

.camerabg{
  background-image: url(../images/breathing.ai_personalization_of_screens.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.cameraDes{
  
  text-align: center;
  position: absolute;
  /* top: 40%; */
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  text-align: center;
  font-family: Arial;
  font-size: 40px;
  color: #FFF;
  /* margin: auto; */
  display: block;
}

video {
  /* border: 1px solid #eee; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button{
  position: relative;;
  left:50%;
  transform: translate(-50%,-50%);
  width:400px;
  height:60px;
  text-align: center;
  line-height: 60px;
  color:#fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
}
#counter{
}
