*{
  box-sizing: border-box;
}


%_opensans__base{
  font-family: opensans;
}
%_sans__base{
  font-family: sans;
}
%_impact__base{
  font-family: Impact, opensans;
}
%_comic__base{
  font-family: "Comic Sans MS", cursive;
}
%_mono__base{
  font-family: monospace;
}
%_arial__base{
  font-family:"Arial", Gadget, sans-serif;
}


.random{
  width: 900px;
  height: 100%;
  padding: 40px;
  margin: 0 auto;
  font-size: 100px;
  text-align: center;
}
  &__item{
    width: 25%;
    float: left;
    text-align: center;
    height: 100%;
    padding: 10px;
    font-size: 200px;
  }

  .font__1{
    font-family: opensans;
    font-weight: normal;
  }
  .font__2{
    font-family: opensans;
    font-weight: bolder;
  }
  .font__3{
    font-family: "Comic Sans MS", cursive;
  }
  .font__4{
    font-family: "Comic Sans MS", cursive;
  }
  .font__5{
    font-family: monospace;
  }
  .font__6{
    font-family: monospace;
    font-weight: bolder;
  }
  .font__7{
    font-family:"Arial", Gadget, sans-serif;
    font-weight: 200;
  }
  .font__8{
    font-family:"Arial", Gadget, sans-serif;
    font-weight: bold;
    font-style: italic;
  }

.console{
  float:left;
  width: calc(100%/8);
  text-align: center;
  padding: 5px;
}
